body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
}

.container {
    display: flex;
}

aside {
    width: 20%;
    padding: 20px;
    background-color: #1bd6b7;
}

main {
    width: 80%;
    padding: 20px;
}

#movie-details {
    text-align: center;
}

#movie-poster {
    width: 200px;
    height: auto;
}

#buy-ticket {
    padding: 10px 20px;
    background-color: #00ffc8;
    color: white;
    border: none;
    cursor: pointer;
}

#buy-ticket:disabled {
    background-color: #cccccc;
}